@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* .work-sans-<uniquifier> {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

  body{
    font-family: "Work Sans";
    margin: 0px;
  }
  .center{
    width: 80%;
    margin: 0px auto;
  }

  /* header styles */
  header{
    background-color: antiquewhite;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar div li{
    list-style: none;
  }
  .navbar div li a{
    text-decoration: none;
    font-size: 12px;
    color: black;
    margin-left: 14px;
  }
  .hero{
    text-align: center;
  }
  .hero-heading{
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .hero-description{
    font-size: 0.75rem;
    opacity: 0.70;
    line-height: 20px;
    width: 80%;
    margin: 10px auto;

  }
  .btn-primary{
    color: white;
    background-color: darkorange;
    border: none;
    font-size: 0.85rem;
    font-weight: 500;
    padding: 8px 18px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .hero img{
    width: 100%;
    border-radius: 10px;
  }
  .features{
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    margin: 50px auto;
    background: linear-gradient(to right, darkorange, lightgreen);
    padding: 20px;
  }
  .photo-collage{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
  }
  .photo-collage img{
    width: 200px;
    gap: 20px;
    border-radius: 10px;
  }
  .text-content{
    align-content: center;
  }
  .text-content h2{
    font-size: 1.75rem;
    line-height: 40px;
    word-spacing: 10px;
  }
  .text-content .quick{
    color: whitesmoke;
  }
  .text-content .features-text{
    color: rgba(177, 101, 8, 0.973);
  }
  .text-content .features-info{
    font-size: 0.75rem;
    line-height: 20px;
    opacity: 0.80;
  }
  .experience{
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
  .experience-text-content{
    width: 45%;
  }
  .experience-image-container{
    width: 45%;
  }
  .experience-border-heading{
    display: flex;
    gap: 10px;
  }
  .border{
    border: 4px solid darkorange;
  }
  .experience-heading{
    font-size: 2.50rem;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 50px;
  }
  .experience-description{
    font-size: 0.75rem;
    line-height: 20px;
    opacity: 0.80;
  }
  .experience-card{
    padding: 5px 10px;
    background: rgb(121, 238, 254);
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    box-shadow: 0px 4px 5px darkorange;
  }
  .experience-image-container img{
    margin-top: 100px;
    width: 100%;
    height: 70%;
    border-radius: 10px;
    position: relative;
    z-index: 0;
  }
  .experience-batch{
    background: darkorange;
    padding: 30px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    margin-top: -80px;
    margin-left: -70px;
    position: relative;
    z-index: 5;
  }
  .experience-batch h1{
    font-size: 3rem;
    font-weight: 800;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .experience-batch p{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 10px;
    color: white;
  }
  .facts-heading{
    font-size: 2rem;
  }
  .facts-description{
    font-size: 0.75rem;
    line-height: 20px;
    opacity: 0.80;
    text-align: justify;
  }
  .facts-card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
  }
  .facts-card div{
    border: 2px solid darkorange;
    border-radius: 5px;
    text-align: center;
    padding: 20px 0px;
    margin-bottom: 20px;
  }
  .facts-card div h1{
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .facts-card div p{
    margin-top: 10px;
    font-size: 0.75rem;
    opacity: 0.80;
  }
  
  .sponsors-heading{
    text-align: center;
  }
  .sponsors-description{
    font-size: 0.75rem;
    opacity: 0.80;
    line-height: 20px;
    width: 80%;
    text-align: center;
    margin: 0px auto;
  }
  .sponsors-card{
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .sponsors-card a img{
    width: 120px;
    filter: grayscale(100%);
  }














  /* media query for smaller device */
  @media screen and (max-width: 576px) {
    
    body{
      margin: 0px;
    }
    .center{
        width: 90%;
      }

      /* header styles */
      header{
        padding-top: 10px;
        padding-bottom: 20px;
      }
      .navbar{
        align-items: center;
        flex-direction: column;
      }
      
      .navbar div li{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 0px;
        gap: 5px;
      }
      .navbar div li a{
        font-size: 10px;
        margin-left: 0px;
      }
      .hero-heading{
        font-size: 1.5rem;
      }
      .hero-description{
        font-size: 0.65rem;
        line-height: 18px;
        margin: 0px auto;
    
      }
      .btn-primary{
        font-size: 0.65rem;
        padding: 6px 12px;
        margin-top: 10px;
        margin-bottom: 20px;
      }
      .features{
        flex-direction: column;
        margin: 20px auto;
        padding: 20px;
      }
      .photo-collage{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 20px;
      }
      .photo-collage img{
        width: 100%;
        height: 120px;
        margin: 0px auto;
      }
      .text-content{
        align-content: center;
      }
      .text-content h2{
        font-size: 1.25rem;
        line-height: 30px;
        word-spacing: 5px;
      }
      
      .text-content .features-info{
        font-size: 0.65rem;
        line-height: 15px;
        text-align: justify;
      }
      .experience{
        flex-direction: column;
      }
      .experience-text-content{
        width: 100%;
      }
      .experience-image-container{
        width: 100%;
      }
      .experience-border-heading{
        display: flex;
        gap: 10px;
      }
      .border{
        border: 3px solid darkorange;
      }
      .experience-heading{
        font-size: 1.50rem;
        line-height: 30px;
      }
      .experience-description{
        font-size: 0.65rem;
        line-height: 15px;
        opacity: 0.80;
      }
      .experience-card{
        padding: 5px 8px;
        margin-bottom: 10px;
        box-shadow: 0px 2px 3px darkorange;
      }
      .experience-card h3{
        font-size: 0.75rem;
        margin-top: 5px;
        margin-bottom: 0px;
      }
      .experience-image-container img{
        margin-top: 0px;
        width: 100%;
        height: 80%;
      }
      .experience-batch{
        padding: 20px;
        width: 150px;
        margin: 20px auto;
      }
      .experience-batch h1{
        font-size: 2rem;
        margin-top: 0px;
        margin-bottom: 0px;
      }
      .experience-batch p{
        font-size: 1rem;
        margin-top: 5px;
        margin-bottom: 10px;
      }
      .facts-heading{
        font-size: 1.25rem;
      }
      .facts-description{
        font-size: 0.65rem;
        line-height: 15px;
      }
      .facts-card{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10px;
      }
      .facts-card div{
        border: 1.5px solid darkorange;
        border-radius: 5px;
        padding: 10px 0px;
      }
      .sponsors-heading{
        font-size: 1.25rem;
      }
      .sponsors-description{
        font-size: 0.65rem;
        text-align: center;
      }
      .sponsors-card{
        margin: 20px 0px;
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        justify-items: center;
      }
      .sponsors-card a img{
        width: 80px;
        filter: grayscale(100%);
      }
            
  }












  /* media query for medium device */
  @media screen and (min-width: 576px) and (max-width: 992px) {
    .center{
        width: 85%;
      }

      /* header styles */
      header{
        padding-bottom: 30px;
      }
      .navbar div li a{
        margin-left: 10px;
      }
      .hero-heading{
        font-size: 2rem;
      }
      .hero-description{
        font-size: 0.70rem;
        margin: 0px auto;
    
      }
      .btn-primary{
        font-size: 0.80rem;
        padding: 6px 16px;
        margin-top: 20px;
        margin-bottom: 30px;
      }
      .features{
        flex-direction: column;
        margin: 30px auto;
        padding: 30px;
      }
      .photo-collage{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        gap: 10px;
      }
      .photo-collage img{
        width: 100%;
        height: 240px;
        margin: 0px auto;
      }
      .text-content{
        align-content: center;
      }
      .text-content h2{
        font-size: 1.80rem;
        line-height: 40px;
        word-spacing: 10px;
      }
      
      .text-content .features-info{
        font-size: 0.75rem;
        line-height: 20px;
        text-align: justify;
      }
      .experience{
        flex-direction: column;
      }
      .experience-text-content{
        width: 100%;
      }
      .experience-text-content .middle-device{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        column-gap: 20px;
      }
      .experience-image-container{
        width: 100%;
      }
      .experience-border-heading{
        display: flex;
        gap: 8px;
      }
      .border{
        border: 5x solid darkorange;
      }
      .experience-heading{
        font-size: 1.50rem;
        line-height: 30px;
      }
      .experience-description{
        font-size: 0.75rem;
        line-height: 20px;
        opacity: 0.80;
      }
      .experience-card{        
        padding: 8px 10px;
        margin-bottom: 20px;
        box-shadow: 0px 4px 5px darkorange;
      }
      .experience-card h3{
        font-size: 1rem;
        margin-top: 8px;
        margin-bottom: 5px;
      }
      .experience-image-container img{
        margin-top: 0px;
        width: 100%;
        height: 60%;
      }
      .experience-batch{
        padding: 30px;
        width: 200px;
        margin: 30px auto;
      }
      .experience-batch h1{
        font-size: 2.5rem;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .experience-batch p{
        font-size: 1.25rem;
        margin-top: 5px;
        margin-bottom: 10px;
      }
      .facts-heading{
        font-size: 1.75rem;
      }
      .facts-description{
        font-size: 0.75rem;
        line-height: 20px;
      }
      .facts-card{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        row-gap: 10px;
        margin-top: 20px;
      }
      .facts-card div{
        border: 1.75px solid darkorange;
        border-radius: 5px;
        padding: 15px 0px;
      }
      .sponsors-heading{
        font-size: 1.75rem;
      }
      .sponsors-description{
        font-size: 0.75rem;
        text-align: center;
      }
      .sponsors-card{
        margin: 30px 0px;
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        justify-items: center;
      }
      .sponsors-card a img{
        width: 100px;
        filter: grayscale(100%);
      }
    
  }