@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* .work-sans-<uniquifier> {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

  body{
    font-family: "Work Sans";
  }
  .center{
    width: 80%;
    margin: 0px auto;
  }

  /* header styles */
  header{
    background-color: antiquewhite;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar div li{
    list-style: none;
  }
  .navbar div li a{
    text-decoration: none;
    font-size: 12px;
    color: black;
    margin-left: 14px;
  }
  .hero{
    text-align: center;
  }
  .hero-heading{
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .hero-description{
    font-size: 0.75rem;
    opacity: 0.70;
    line-height: 20px;
    width: 80%;
    margin: 10px auto;

  }
  .btn-primary{
    color: white;
    background-color: darkorange;
    border: none;
    font-size: 0.85rem;
    font-weight: 500;
    padding: 8px 18px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .hero img{
    width: 100%;
    border-radius: 10px;
  }
  .features{
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    margin: 50px auto;
    background: linear-gradient(to right, darkorange, lightgreen);
    padding: 20px;
  }
  .photo-collage{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
  }
  .photo-collage img{
    width: 200px;
    gap: 20px;
    border-radius: 10px;
  }
  .text-content h2{
    line-height: 35px;
    word-spacing: 10px;
  }
  .text-content .quick{
    color: whitesmoke;
  }
  .text-content .features-text{
    color: rgba(177, 101, 8, 0.973);
  }
  .text-content .features-info{
    font-size: 0.75rem;
    line-height: 20px;
  }















  /* media query for smaller device */
  @media screen and (max-width: 576px) {
    .center{
        width: 90%;
      }

      /* header styles */
      header{
        padding-top: 10px;
        padding-bottom: 20px;
      }
      .navbar{
        align-items: center;
        flex-direction: column;
      }
      
      .navbar div li{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: 0px;
        gap: 5px;
      }
      .navbar div li a{
        font-size: 10px;
        margin-left: 0px;
      }
      .hero-heading{
        font-size: 1.5rem;
      }
      .hero-description{
        font-size: 0.65rem;
        line-height: 18px;
        margin: 0px auto;
    
      }
      .btn-primary{
        font-size: 0.65rem;
        padding: 6px 12px;
        margin-top: 10px;
        margin-bottom: 20px;
      }
      
    
  }












  /* media query for medium device */
  @media screen and (min-width: 576px) and (max-width: 992px) {
    .center{
        width: 85%;
      }

      /* header styles */
      header{
        padding-bottom: 30px;
      }
      .navbar div li a{
        margin-left: 10px;
      }
      .hero-heading{
        font-size: 2rem;
      }
      .hero-description{
        font-size: 0.70rem;
        margin: 0px auto;
    
      }
      .btn-primary{
        font-size: 0.80rem;
        padding: 6px 16px;
        margin-top: 20px;
        margin-bottom: 30px;
      }
      
    
  }